# Python
**/__pycache__/
*.py[cod]
env/
venv/
.env/

# Secrets
.env
auth_key.json

# Frontend
node_modules/
dist/
build/

# IDE & OS
.vscode/
.DS_Store
Thumbs.db

# Database logs
*.log
sqlnet.log

# Sensitive Wallet Data
backend/wallet/
